.Spinner {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.bar {
    width: 50px;
    height: 100px;
    background-color: darkslategray;
    border-radius: 25px / 50px;

    position: absolute;

    animation: flush infinite 1.2s linear;
}

.bar:nth-child(1) {
    transform: rotate(30deg) translate(12em) rotate(-90deg);
    animation-delay: .1s;
}

.bar:nth-child(2) {
    transform: rotate(60deg) translate(12em) rotate(-90deg);
    animation-delay: .2s;
}

.bar:nth-child(3) {
    transform: rotate(90deg) translate(12em) rotate(-90deg);
    animation-delay: .3s;
}

.bar:nth-child(4) {
    transform: rotate(120deg) translate(12em) rotate(-90deg);
    animation-delay: .4s;
}

.bar:nth-child(5) {
    transform: rotate(150deg) translate(12em) rotate(-90deg);
    animation-delay: .5s;
}

.bar:nth-child(6) {
    transform: rotate(180deg) translate(12em) rotate(-90deg);
    animation-delay: .6s;
}

.bar:nth-child(7) {
    transform: rotate(210deg) translate(12em) rotate(-90deg);
    animation-delay: .7s;
}

.bar:nth-child(8) {
    transform: rotate(240deg) translate(12em) rotate(-90deg);
    animation-delay: .8s;
}

.bar:nth-child(9) {
    transform: rotate(270deg) translate(12em) rotate(-90deg);
    animation-delay: .9s;
}

.bar:nth-child(10) {
    transform: rotate(300deg) translate(12em) rotate(-90deg);
    animation-delay: 1s;
}

.bar:nth-child(11) {
    transform: rotate(330deg) translate(12em) rotate(-90deg);
    animation-delay: 1.1s;
}

.bar:nth-child(12) {
    transform: rotate(360deg) translate(12em) rotate(-90deg);
    animation-delay: 1.2s;
}

@keyframes flush {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}